/* codingArenaHome.css */

:host {
    display: block;
    height: 100vh;
    min-width: 100vw;
    overflow: hidden;
    font-family: 'Segoe UI', sans-serif;
}

/* MAIN BACKGROUND */
.app-container {
    display: flex;
    height: 100vh;
    width: 100vw;
    background:
        radial-gradient(circle at top left, #1e3a8a, transparent 30%),
        radial-gradient(circle at bottom right, #0f172a, transparent 35%),
        linear-gradient(135deg, #020617, #0f172a, #1e293b);
    color: white;
}



/* MAIN */
.main-container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

/* NAVBAR */
.navbar {
    height: 55px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 15px;

    background: rgba(20, 20, 35, 0.45);
    backdrop-filter: blur(16px);

    border-bottom: 1px solid rgba(255,255,255,0.08);
}

.logo-section {
    display: flex;
    align-items: center;
    gap: 12px;
}

.logo-icon {
    width: 30px;
    height: 30px;

    border-radius: 12px;

    background: linear-gradient(135deg, #8f5cff, #b26bff);

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 14px;
    font-weight: bold;
}

.logo-text {
    font-size: 20px;
    font-weight: 600;
}

.nav-links {
    display: flex;
    gap: 40px;
}

.nav-links a {
    color: rgba(255,255,255,0.65);
    text-decoration: none;
    font-size: 16px;
    position: relative;
    cursor: pointer;
    transition: 0.3s;
}

.nav-links a:hover,
.active-link {
    color: white;
}

.active-link::after {
    content: '';
    position: absolute;
    bottom: -15px;
    left: 0;

    width: 100%;
    height: 3px;

    background: #a855f7;
    border-radius: 10px;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 18px;
}

.timer-box,
.user-box {
    background: rgba(255,255,255,0.06);
    border: 1px solid rgba(255,255,255,0.08);

    height: 40px;

    display: flex;
    align-items: center;

    padding: 0 14px;

    border-radius: 14px;
    cursor: pointer;
}

.timer-box {
    color: #ff8d7a;
    font-size: 14px;
}

.user-box {
    gap: 10px;
}

.avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: linear-gradient(135deg, #7c3aed, #c084fc);
}

/* HERO */
.hero-section {
    flex: 1;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 60px;
}

.hero-title {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 25px;
}

/* CARDS */
.cards-container {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
}

.path-card {
    width: 480px;
    min-height: 500px;

    position: relative;

    border-radius: 34px;

    padding: 55px 45px;

    overflow: hidden;

    background: rgba(255,255,255,0.06);

    border: 1px solid rgba(255,255,255,0.15);

    backdrop-filter: blur(22px);

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    transition: all 0.4s ease;
}

.path-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 45px rgba(168, 85, 247, 0.35);
}

.card-overlay {
    position: absolute;
    inset: 0;

    background:
        linear-gradient(
            rgba(255,255,255,0.03),
            rgba(255,255,255,0.01)
        );

    pointer-events: none;
}

.card-icon {
    margin-top: 20px;
    margin-bottom: 35px;

    transform: scale(2.2);
}

.path-card h2 {
    font-size: 34px;
    font-weight: 700;
    margin-bottom: 24px;
}

.path-card p {
    font-size: 18px;
    line-height: 1.8;
    color: rgba(255,255,255,0.82);

    margin-bottom: 55px;
}

/* BUTTONS */
.outline-btn,
.filled-btn {
    border: none;
    outline: none;

    padding: 16px 34px;

    font-size: 18px;
    border-radius: 14px;

    cursor: pointer;

    transition: all 0.3s ease;
}

.outline-btn {
    background: transparent;
    border: 2px solid #9b5cff;
    color: #b67cff;
}

.outline-btn:hover {
    background: rgba(155, 92, 255, 0.15);
    box-shadow: 0 0 20px rgba(155, 92, 255, 0.45);
}

.filled-btn {
    background: linear-gradient(135deg, #8b5cf6, #d946ef);
    color: white;

    box-shadow: 0 0 20px rgba(168, 85, 247, 0.45);
}

.filled-btn:hover {
    transform: scale(1.05);
    box-shadow: 0 0 28px rgba(168, 85, 247, 0.7);
}

/* RESPONSIVE */
@media(max-width: 1200px) {

    .cards-container {
        flex-direction: column;
        align-items: center;
    }

    .hero-title {
        text-align: center;
        font-size: 42px;
    }
}