:host {
    display: block;
    font-family: 'Segoe UI', sans-serif;
    background: #070b16;
    color: white;
    min-height: 100vh;
}


.app-container {
    min-height: 100vh;
    background:
        radial-gradient(circle at top left, #1e3a8a, transparent 30%),
        radial-gradient(circle at bottom right, #0f172a, transparent 35%),
        linear-gradient(135deg, #020617, #0f172a, #1e293b);
}

/* TOPBAR */

.navbar {
    height: 55px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 15px;

    background: rgba(20, 20, 35, 0.45);
    backdrop-filter: blur(16px);

    border-bottom: 1px solid rgba(255,255,255,0.08);
}

.logo-section {
    display: flex;
    align-items: center;
    gap: 12px;
}

.logo-icon {
    width: 30px;
    height: 30px;

    border-radius: 12px;

    background: linear-gradient(135deg, #8f5cff, #b26bff);

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 14px;
    font-weight: bold;
}

.logo-text {
    font-size: 20px;
    font-weight: 600;
}

.nav-links {
    display: flex;
    gap: 40px;
}

.nav-links a {
    color: rgba(255,255,255,0.65);
    text-decoration: none;
    font-size: 16px;
    position: relative;
    cursor: pointer;
    transition: 0.3s;
}

.nav-links a:hover,
.active-link {
    color: white;
}

.active-link::after {
    content: '';
    position: absolute;
    bottom: -15px;
    left: 0;

    width: 100%;
    height: 3px;

    background: #a855f7;
    border-radius: 10px;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 18px;
}

.timer-box,
.user-box {
    background: rgba(255,255,255,0.06);
    border: 1px solid rgba(255,255,255,0.08);

    height: 40px;

    display: flex;
    align-items: center;

    padding: 0 14px;

    border-radius: 14px;
    cursor: pointer;
}

.timer-box {
    color: #ff8d7a;
    font-size: 14px;
}

.user-box {
    gap: 10px;
}

.avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: linear-gradient(135deg, #7c3aed, #c084fc);
}

/* MAIN GRID */

.main-layout {
    display: grid;
    grid-template-columns: 1fr 1.2fr 0.5fr;
    min-height: 90vh;
    gap: 10px;
    height: 100%;
    padding: 10px;
}

/* GLASS CARD */

.glass-card {
    background:
        linear-gradient(
            145deg,
            rgba(255,255,255,0.05),
            rgba(255,255,255,0.02)
        );

    border: 1px solid rgba(255,255,255,0.08);

    border-radius: 24px;

    backdrop-filter: blur(20px);

    overflow: hidden;

    box-shadow:
        0 0 40px rgba(139, 92, 246, 0.12),
        inset 0 0 20px rgba(255,255,255,0.02);
}



/* PROBLEM */

.problem-panel {
    display: flex;
    flex-direction: column;

}

.problem-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: #8f90aa30 1px solid;
    margin: 10px 10px 0px 10px;
    padding-bottom: 10px;
    font-weight: 700;
}


.difficulty-container
{
    margin: 8px;
}
.difficultylabel
{
    font-size: 12px;
    font-weight: 600;
}
.difficulty-options
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    min-width: 100%;
    margin-top: 5px;
}

.difficulty-btn
{

    flex: 1;
    background: rgba(255,255,255,0.05);
    border: 1px solid rgba(255,255,255,0.08);

    color: white;

    padding: 5px 10px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 11px;
    text-align: center;
}

.difficulty-btn:hover {
    transform: translateY(-2px);
}

.difficulty-btn.active.easy {
    border-color: rgb(0, 210, 106);
    box-shadow: 0 0 15px rgba(0,210,106,0.35);
    color: #00ff84;
    background-color: rgba(0, 210, 106, 0.2);
}

.difficulty-btn.active.medium {
    border-color: rgb(255, 176, 32);
    box-shadow: 0 0 15px rgba(255,176,32,0.35);
    color: #ffcb66;
    background-color: rgba(255,176,32,0.2);
}

.difficulty-btn.active.hard {
    border-color: #ff5c7a;
    box-shadow: 0 0 15px rgba(255,92,122,0.35);
    color: #ff8ea3;
    background-color: rgba(255,92,122,0.2);
}

.type-container
{
    margin: 8px;
}
.typelabel
{
    font-size: 12px;
    font-weight: 600;
}
.type-options
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    min-width: 100%;
    margin-top: 5px;
}
.type-btn
{

    flex: 1;
    background: rgba(255,255,255,0.05);
    border: 1px solid rgba(255,255,255,0.08);

    color: white;

    padding: 5px 10px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 11px;
    text-align: center;
}

.type-btn:hover {
    transform: translateY(-2px);
}

.type-btn.active {
    border-color: #7c3aed;
    box-shadow: 0 0 15px rgba(124,58,237,0.35);
    color: #c084fc;
    background-color: rgba(124,58,237,0.2);
}


.generateProblem-btn{
    margin: 8px;
    background: linear-gradient(
        135deg,
        #451da3,
        #37214c
    );

    color: white;
    border: 1px solid rgba(255,255,255,0.08);
    border-radius: 8px;

    padding: 5px 10px;

    font-size: 15px;
    cursor: pointer;
}
.generateProblem-btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 0 15px rgba(69,29,163,0.35);
}

.loading-state {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding: 40px 0;
}
.spinner{
    width: 40px;
    height: 40px;
    border: 4px solid rgba(255,255,255,0.1);
    border-top-color: #c084fc;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.scrollable-content {
    overflow-y: auto;
    margin:5px 10px 0px 10px;
    border-top: #8f90aa30 1px solid;
}

.problem-title-container{
    margin-bottom: 10px;
}
.problem-detail{
    font-size: 11px;
    font-weight: 700;
    color: #6571ea;
    padding-top: 5px;
}

.problem-title {
    font-size: 16px;
    font-weight: 700;
}

.problemLevel{
    display: inline-block;
    background: rgba(255, 202, 30, 0.3);
    border: 1px solid #ffca1e;
    color: #ffca1e;
    padding: 1px 10px;
    border-radius: 12px;
    font-size: 11px;
}

.scenario-label{
    font-size: 13px;
    font-weight: 700;
}
.scenario-text{
    font-size: 11px;

}
.error-code-container{

    border: 1px solid rgba(255, 255, 255, 0.288);
    border-radius: 12px;
    margin-top: 5px;
    margin-bottom:10px;
    background: rgba(255, 255, 255, 0.05);
    padding:5px;

}

.error-code-label{
    font-size: 13px;
    font-weight: 700;
    margin-top: 5px;
}
.error-code-text
{
    font-size: 11px;
    margin-top:-8px;
    font-weight: 600;
}
.symptoms{
    margin-bottom: 10px;
}
.symptoms-label{
    font-size: 13px;
    font-weight: 700;
    margin-top: 5px;
}
.symptoms-text{
    font-size: 11px;
}


/* EDITOR */

.editor-panel {
    display: flex;
    flex-direction: column;
}

.editor-toolbar {
    display: flex;
    justify-content: space-between;
    gap: 16px;

    padding: 18px 24px;
}

.card-header{
    padding: 10px; 
}

.header-main{
    display: flex;
    align-items: center;
    gap: 12px;
    font-weight: 700;
}

.editor-area {
    flex: 1;
    margin: 0 20px;

    border-radius: 18px;

    background: rgba(3, 7, 18, 0.7);
    border: 1px solid rgba(255,255,255,0.05);

    overflow: scroll;
}

.code-editor{
    background: rgba(3, 7, 18, 0.7);
    color: #d6d6e9;
    min-width: 100%;
    min-height: 100%;
    max-height: 100%;
    max-width: 100%;
    border-radius: 18px;
    padding: 10px 10px 0px 10px;
    overflow: auto;
    font-size: 13px;
    white-space: pre;
    font-family:
        Consolas,
        Monaco,
        monospace;
    flex: 1;

}

/* FOOTER */

.editor-footer {
    display: flex;
    justify-content: center;
    gap: 16px;

    padding: 20px;
}

.primary-btn {
    background: linear-gradient(
        135deg,
        #451da3,
        #37214c
    );
    color: white;
    border: 1px solid rgba(255,255,255,0.08);
    border-radius: 8px;

    padding: 5px 10px;

    font-size: 15px;
    cursor: pointer;
    box-shadow: 0 0 15px rgba(69,29,163,0.35);
}

.primary-btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 0 15px rgba(69,29,163,0.35);
}

.primary-btn:disabled{
    background-color: #d3d3d3;
    color: #666;
    cursor: not-allowed;
    opacity: 0.7;
}



/* ACTIVITY */

.results-panel{
padding: 10px;
}

.result-label{
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;
}

.result-pending {
    background-color: rgb(255, 221, 98,0.3);
    border: 1px solid #ffc400;
    border-radius: 15px;
    padding: 5px 15px;
    color: #ffc400;
}

.result-passed {
    border-color: rgb(0, 210, 106);
    box-shadow: 0 0 15px rgba(0,210,106,0.35);
    color: #00ff84;
    background-color: rgba(0, 210, 106, 0.2);
    border-radius: 15px;
    padding: 5px 15px;
}

.result-failed {
    background-color: rgb(248, 113, 113,0.3);
    border: 1px solid #ef4444;
    border-radius: 15px;
    padding: 5px 15px;
    color: #ef4444;
}

.reason-panel{
    padding: 10px;
    margin-top: 10px;
}

.reason-label{
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;
    
}
.reason-text{
    font-size: 11px;
    background-color: #020617;
    color: #d6d6e9;
    min-height: 150px;
    scroll-behavior: smooth;
    border: 1px solid #c7c7c750;
    border-radius: 12px;
    padding: 10px;
}


.submitting-state{
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 20px;
    background: rgba(255,255,255,0.05);
    border: 1px solid rgba(255,255,255,0.08);
    border-radius: 12px;
}

.codeReview-panel{
    padding: 10px;
    margin-top: 10px;
}

.codereview-label{
    font-size: 12px;
    font-weight: 700;
}

.thegood{
    border-color: rgb(0, 210, 106);
    box-shadow: 0 0 15px rgba(0,210,106,0.35);
    color: #00ff84;
    background-color: rgba(0, 210, 106, 0.2);
}
.thebad{
    border-color: #ff5c7a;
    box-shadow: 0 0 15px rgba(255,92,122,0.35);
    color: #ff8ea3;
    background-color: rgba(255,92,122,0.2);
}

/* SCROLLBAR */

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background: rgba(255,255,255,0.15);
    border-radius: 20px;
}