:host {
    display: block;
    font-family: 'Segoe UI', sans-serif;
    background: #070b16;
    color: white;
    min-height: 100vh;
}


.app-container {
    min-height: 100vh;
    background:
        radial-gradient(circle at top left, #1e3a8a, transparent 30%),
        radial-gradient(circle at bottom right, #0f172a, transparent 35%),
        linear-gradient(135deg, #020617, #0f172a, #1e293b);
}

/* TOPBAR */

.navbar {
    height: 55px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 15px;

    background: rgba(20, 20, 35, 0.45);
    backdrop-filter: blur(16px);

    border-bottom: 1px solid rgba(255,255,255,0.08);
}

.logo-section {
    display: flex;
    align-items: center;
    gap: 12px;
}

.logo-icon {
    width: 30px;
    height: 30px;

    border-radius: 12px;

    background: linear-gradient(135deg, #8f5cff, #b26bff);

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 14px;
    font-weight: bold;
}

.logo-text {
    font-size: 20px;
    font-weight: 600;
}

.nav-links {
    display: flex;
    gap: 40px;
}

.nav-links a {
    color: rgba(255,255,255,0.65);
    text-decoration: none;
    font-size: 16px;
    position: relative;
    cursor: pointer;
    transition: 0.3s;
}

.nav-links a:hover,
.active-link {
    color: white;
}

.active-link::after {
    content: '';
    position: absolute;
    bottom: -15px;
    left: 0;

    width: 100%;
    height: 3px;

    background: #a855f7;
    border-radius: 10px;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 18px;
}

.user-box {
    background: rgba(255,255,255,0.06);
    border: 1px solid rgba(255,255,255,0.08);

    height: 40px;

    display: flex;
    align-items: center;

    padding: 0 14px;

    border-radius: 14px;
    cursor: pointer;
}

.user-box {
    gap: 10px;
}

.avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: linear-gradient(135deg, #7c3aed, #c084fc);
}

/* MAIN GRID */

.main-layout {
    display: grid;
    grid-template-columns: 0.7fr 1.2fr 0.5fr;;
    min-height: 90vh;
    gap: 10px;
    height: 100%;
    padding: 10px;
}

/* GLASS CARD */

.glass-card {
    background:
        linear-gradient(
            145deg,
            rgba(255,255,255,0.05),
            rgba(255,255,255,0.02)
        );

    border: 1px solid rgba(255,255,255,0.08);

    border-radius: 8px;

    backdrop-filter: blur(20px);

    overflow: hidden;

    box-shadow:
        0 0 40px rgba(139, 92, 246, 0.12),
        inset 0 0 20px rgba(255,255,255,0.02);
}



/* PROBLEM */

.problem-panel {
    display: flex;
    flex-direction: column;

}

.problem-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: #8f90aa30 1px solid;
    margin: 10px 10px 0px 10px;
    padding-bottom: 10px;
    font-weight: 700;
    cursor:pointer;
}

.up-arrow{
    font-size: 1.2rem;
    transition: 0.3s ease;
}

.up-arrow:hover{
    color:#8b5cf6;
    transform: translateY(-3px);
}

.down-arrow{
    font-size: 1.2rem;
    transition: 0.3s ease;
}

.down-arrow:hover{
    color:#8b5cf6;
    transform: translateY(3px);
}

.selectOptions{
    transition: all 0.35s ease;
    overflow: hidden;
    display: grid
}

.expanded{
    max-height: 500px;
    opacity: 1;
}

.collapsed{
    max-height: 0;
    opacity: 0;
}

.difficulty-container
{
    margin: 8px;
}
.difficultylabel
{
    font-size: 12px;
    font-weight: 600;
}
.difficulty-options
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    min-width: 100%;
    margin-top: 5px;
}

.difficulty-btn
{

    flex: 1;
    background: rgba(255,255,255,0.05);
    border: 1px solid rgba(255,255,255,0.08);

    color: white;

    padding: 5px 10px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 11px;
    text-align: center;
}

.difficulty-btn:hover {
    transform: translateY(-2px);
}

.difficulty-btn.active.easy {
    border-color: rgb(0, 210, 106);
    box-shadow: 0 0 15px rgba(0,210,106,0.35);
    color: #00ff84;
    background-color: rgba(0, 210, 106, 0.2);
}

.difficulty-btn.active.medium {
    border-color: rgb(255, 176, 32);
    box-shadow: 0 0 15px rgba(255,176,32,0.35);
    color: #ffcb66;
    background-color: rgba(255,176,32,0.2);
}

.difficulty-btn.active.hard {
    border-color: #ff5c7a;
    box-shadow: 0 0 15px rgba(255,92,122,0.35);
    color: #ff8ea3;
    background-color: rgba(255,92,122,0.2);
}

.type-container
{
    margin: 8px;
}
.typelabel
{
    font-size: 12px;
    font-weight: 600;
}
.type-options
{
    display: grid;
    gap: 10px;
    min-width: 100%;
    margin-top: 5px;
    flex-wrap: wrap;
    grid-template-columns: 1fr 1fr 0.5fr 0.5fr;
}
.type-btn
{

    background: rgba(255,255,255,0.05);
    border: 1px solid rgba(255,255,255,0.08);
    color: white;
    padding: 5px 10px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 11px;
    text-align: center;
}

.type-btn:hover {
    transform: translateY(-2px);
}

.type-btn.active {
    border-color: #7c3aed;
    box-shadow: 0 0 15px rgba(124,58,237,0.35);
    color: #c084fc;
    background-color: rgba(124,58,237,0.2);
}


.generateProblem-btn{
    margin: 8px;
    background: linear-gradient(
        135deg,
        #451da3,
        #37214c
    );

    color: white;
    border: 1px solid rgba(255,255,255,0.08);
    border-radius: 8px;

    padding: 5px 10px;

    font-size: 15px;
    cursor: pointer;
}
.generateProblem-btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 0 15px rgba(69,29,163,0.35);
}

.showSampledata-btn
{
    background: linear-gradient(
        135deg,
        #451da3,
        #37214c
    );

    color: white;
    border: 1px solid rgba(255,255,255,0.08);
    border-radius: 8px;

    padding: 5px 10px;

    font-size: 15px;
    cursor: pointer;
    margin-top: 10px;
}

.showSampledata-btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 0 15px rgba(69,29,163,0.35);
}

.loading-state {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding: 40px 0;
}
.spinner{
    width: 40px;
    height: 40px;
    border: 4px solid rgba(255,255,255,0.1);
    border-top-color: #c084fc;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.scrollable-content {
    margin: 5px 0px;
    padding: 0px 10px;
}

.problemSection{
    display:grid;
    transition: all 0.35s ease;
}

.problemSectionexpanded{
    max-height: fit-content;
    opacity: 1;
}

.problem-title-container{
    margin-bottom: 10px;
    cursor:pointer;
    border-bottom: 1px solid rgba(255,255,255,0.08);
    padding-bottom: 10px;
    
}
.problem-detail{
    font-size: 11px;
    font-weight: 700;
    color: #6571ea;
    padding-top: 5px;
}

.problem-title {
    font-size: 16px;
    font-weight: 700;
}

.problemLevel{
    display: inline-block;
    background: rgba(255, 202, 30, 0.3);
    border: 1px solid #ffca1e;
    color: #ffca1e;
    padding: 1px 10px;
    border-radius: 12px;
    font-size: 11px;
}

.scenario-label{
    font-size: 15px;
    font-weight: 700;
}
.scenario-text{
    font-size: 11px;
    color:rgb(170, 170, 170);

}
.symptoms{
    margin-bottom: 10px;
}
.symptoms-label{
    font-size: 13px;
    font-weight: 600;
    margin-top: 5px;
}
.symptoms-text{
    font-size: 11px;
    color:rgb(170, 170, 170);
}

.bottom-problem-details{
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    padding: 0px 10px;
    margin-bottom: 10px;
}

.data-card
{
    display:flex;
    padding: 10px 10px;
    border: 1px solid rgba(255,255,255,0.08);
    box-shadow: 0 0 15px rgba(69, 29, 163, 0.35);
    border-radius: 10px;
    
    gap: 5px;
    font-size: 15px;
    align-items: center;
}
.estTime{
    color:#5a81c5;

}

.sampleData-btn{
        border-radius: 10px;
    background: transparent;
    border: 1px solid rgb(55 33 76);
    color: #dcceff;
    width: 100%;
    padding: 10px;
    
}
.sampleData-btn:hover{
    box-shadow: -2px -2px 12px rgb(55 33 76);
}


/* EDITOR */


.card-header{
    padding: 10px; 
}

.header-main{
    display: flex;
    align-items: center;
    gap: 12px;
    justify-content: center;
}
.one,.two,.three,.four{
    border-radius: 50%;
    padding:2px 10px;
    border:1px solid #434354;
    background: transparent;
}
.generate{
    font-size: 14px;
    color:rgb(155 155 155);
}

.gen-highlighted{
    font-weight: 600;
    color:white;
}
.line{
    font-weight: 300;
    color: #616171;
}

.highlighted{
    background-color: #7603c2;
    border:0px solid #000025;
}

.completed{
    background-color: #22cd86;
    border:0px solid #000025;
    box-shadow: 0px 0px 10px #22cd86;
}


.code-editor{
    background: rgb(7 16 40 / 70%);
    color: #d6d6e9;
    min-height: 100%;
    max-height: 100%;
    max-width: 100%;
    border-radius: 5px;
    padding: 10px 10px 0px 10px;
    overflow: auto;
    font-size: 12px;
    white-space: pre;
    font-family: Consolas, Monaco, monospace;
    margin: 10px 10px 5px 10px;
    overflow-y: auto;
    overflow-x: auto;
    background-color: #000025;
    height: 57vh;
    resize: none;
    width: stretch;

}
.noData-class{
    display: grid;
    height: 62vh;
    /* align-items: center; */
    justify-items: center;
    align-content: center;
    background: rgb(7 16 40 / 70%);
    margin: 10px;
    border-radius: 10px;
    gap: 10px;
    border: 1px dashed rgb(255, 255, 255, 0.5);
}
.no-data-icon {
    position: relative;
    width: 120px;
    height: 120px;
    border: 2px dashed #444;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 42px;
    font-weight: bold;
}

.cross {
    position: absolute;
    top: 12px;
    right: 16px;
    font-size: 28px;
    color:rgb(155 155 155);
}

/* FOOTER */

.editor-footer {
    display: grid;
    gap: 16px;
    padding: 0px 10px 10px;
    grid-template-columns: 1fr 1fr;
}

.primary-btn {
        background: linear-gradient(135deg, #5823d6, transparent);
    color: white;
    border: 2px solid #5823d6;
    padding: 5px 10px;
    font-size: 15px;
    cursor: pointer;
    box-shadow: 0 0 15px rgba(69, 29, 163, 0.35);
    border-radius: 8px;
}

.svgDiv{
    display: flex;
    gap: 5px;
    padding-top: 5px;
    width:fit-content;
}

.primary-btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 0 15px rgba(123, 71, 245, 0.566);
}

.primary-btn:disabled{
    color: #666;
    cursor: not-allowed;
    opacity: 0.7;
}

.secondary-btn {
    background: linear-gradient(135deg, #1da36b, transparent);
    color: white;
    border: 2px solid #1da36b;
    border-radius: 8px;
    padding: 5px 10px;
    font-size: 15px;
    cursor: pointer;
    
}

.secondary-btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 0 15px #11964f;
}

.secondary-btn:disabled{
    background-color: #000000;
    color: #666;
    cursor: not-allowed;
    opacity: 0.7;
}

.footer-console{
    display: grid;
    margin: 0px 10px 10px 10px;
    border: 1px solid rgba(155, 155, 155, 0.5);
    border-radius: 10px;
}

.code{
    font-family: monospace, monospace;
    font-size: 13px;
    height: 130px;
    overflow-y: auto;
    padding: 10px;
    background: linear-gradient(45deg, black, transparent);
    border-radius: 10px;
    white-space: pre;
    color:rgb(155,155,155);
}
.console-label-text{
    background: linear-gradient(135deg, rgb(7 16 40 / 70%), transparent);
    border-radius: 10px;
    padding: 10px 10px;
}

/* ACTIVITY */
.activity-panel{
    display:grid;
    grid-template-rows: 0.6fr 0.5fr;
}

.results-panel{
    padding: 10px;
    display:grid;
}

.result-label{
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 10px;
}

.result-pending {
    display:flex;
    align-items: center;
    background-color: rgb(255, 221, 98,0.3);
    border: 1px solid #ffc400;
    border-radius: 15px;
    padding: 5px 15px;
    color: #ffc400;
    gap:5px;
}

.result-passed {
    display:flex;
    align-items: center;
    border: 1px solid rgb(0, 210, 106);
    box-shadow: 0 0 15px rgba(0,210,106,0.35);
    color: #00ff84;
    background-color: rgba(0, 210, 106, 0.2);
    border-radius: 15px;
    padding: 5px 15px;
    gap:5px;
}

.result-failed {
    display:flex;
    align-items: center;
    background-color: rgb(248, 113, 113,0.3);
    border: 1px solid #ef4444;
    border-radius: 15px;
    padding: 5px 15px;
    color: #ef4444;
    gap:5px;
}

.compile-panel{
   margin-top: 15px;
   border-bottom: 1px solid #c7c7c750;
    padding-bottom: 5px;
}

.compile-label{
    font-size: 12px;
    font-weight: 600;
    
}
.compile-text{
    font-size: 11px;
    color: #d6d6e9;
    scroll-behavior: smooth;
    padding: 10px;
}

.test-text{
    font-size: 18px;
    padding: 10px;
}

.score-card {
    padding: 10px 0px;
}

.score-circle {
        width: 70px;
    height: 70px;
    border-radius: 50%;
    background: conic-gradient(#22c55e 0deg var(--progress), rgba(255, 255, 255, 0.08) var(--progress) 360deg);
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top:5px;
}
.x{
    border-radius:50%;
    border:1px solid #ef4444;
    color:#ef4444;
    padding: 0px 8px 2px 8px;
}
.✔
{
    border-radius:50%;
    border:1px solid #22c55e;
    color:#22c55e;
    padding: 1px 5px;
}

.score-inner {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: #0b1023;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* align-self: center; */
    border: 1px solid rgba(255, 255, 255, 0.08);
}

.score-value {
    color: white;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1;
}


.submitting-state{
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 20px;
    background: rgba(255,255,255,0.05);
    border: 1px solid rgba(255,255,255,0.08);
    border-radius: 12px;
}

.codeReview-panel{
    padding: 10px;
    margin-top: 10px;
    display:grid;
}

.codereview-label{
    font-size: 12px;
    font-weight: 700;
}

.thegood{
    border:1px solid rgb(0, 210, 106);
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,210,106,0.35);
    color: #00ff84;
    background-color: rgba(0, 210, 106, 0.2);
    height: 100px;
    overflow-y: auto;
}
.thebad{
    border:1px solid #ff5c7a;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(255,92,122,0.35);
    color: #ff8ea3;
    background-color: rgba(255,92,122,0.2);
    height: 100px;
    overflow-y: auto;
}

/* SCROLLBAR */

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background: rgba(255,255,255,0.15);
    border-radius: 20px;
}

