:host {
    display: block;
    font-family: 'Segoe UI', sans-serif;
    background: #070b16;
    color: white;
    min-height: 100vh;
}


.app-container {
    min-height: 100vh;
    background:
        radial-gradient(circle at top left, #1e3a8a, transparent 30%),
        radial-gradient(circle at bottom right, #0f172a, transparent 35%),
        linear-gradient(135deg, #020617, #0f172a, #1e293b);
}

/* TOPBAR */

.navbar {
    height: 55px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 15px;

    background: rgba(20, 20, 35, 0.45);
    backdrop-filter: blur(16px);

    border-bottom: 1px solid rgba(255,255,255,0.08);
}

.logo-section {
    display: flex;
    align-items: center;
    gap: 12px;
}

.logo-icon {
    width: 30px;
    height: 30px;

    border-radius: 12px;

    background: linear-gradient(135deg, #8f5cff, #b26bff);

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 14px;
    font-weight: bold;
}

.logo-text {
    font-size: 20px;
    font-weight: 600;
}

.nav-links {
    display: flex;
    gap: 40px;
}

.nav-links a {
    color: rgba(255,255,255,0.65);
    text-decoration: none;
    font-size: 16px;
    position: relative;
    cursor: pointer;
    transition: 0.3s;
}

.nav-links a:hover,
.active-link {
    color: white;
}

.active-link::after {
    content: '';
    position: absolute;
    bottom: -15px;
    left: 0;

    width: 100%;
    height: 3px;

    background: #a855f7;
    border-radius: 10px;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 18px;
}
.logout-btn,
.user-box {

    height: 40px;

    display: flex;
    align-items: center;

    padding: 0 14px;

    border-radius: 14px;
    cursor: pointer;
}
.user-box{
    background: rgba(255,255,255,0.06);
    border: 1px solid rgba(255,255,255,0.08);
}

.logout-btn{
    background: rgb(161 0 0 / 78%);
    border: 1px solid rgba(255, 255, 255, 0.08);
}

.main-container{
    height: calc(100vh - 55px);
    padding: 15px;
    display:flex;
    flex-direction: column;
    gap:10px;
}

.back-btn{
    color: rgb(173 166 255);
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s ease;
}
.back-btn:hover{
    color: white;
    font-weight:600;
}
.header-cont{
    display: grid;
    padding: 10px;
    grid-template-columns: 1.5fr 1fr;
    gap:30px
}
.header-left{
    display: grid;
    gap: 10px;
    grid-template-columns: 0.1fr 1fr;
    align-items: start;
    margin-right: 10px;
}

.header{
    font-size: 20px;
    font-weight: bold;
    overflow-x:auto;
}
.exp-label{
    font-size: 12px;
    color: rgb(155, 155, 155);
}
.challenge-icon-wrapper{
    width:82px;
    height:82px;

    border-radius:22px;

    display:flex;
    align-items:center;
    justify-content:center;

    background: rgba(59,130,246,0.10);

    border:1px solid rgba(59,130,246);

    box-shadow:
        0 0 22px rgba(59,130,246,0.16),
        inset 0 0 20px rgba(59,130,246,0.05);
    color:#60a5fa;
}

.Easy{
    background: rgba(34,197,94,0.10);
    border:1px solid rgba(34,197,94);
    color:#22c55e;
    padding: 4px 10px;
    border-radius: 10px;
    font-size: 12px;
}
.Medium{
    background: rgba(234,179,8,0.10);
    border:1px solid rgba(234,179,8);
    color:#eab308;
    padding: 4px 10px;
    border-radius: 10px;
    font-size: 12px;
}
.Hard{
    background: rgba(220,38,38,0.10);
    border:1px solid rgba(220,38,38);
    color:#dc2626;
    padding: 4px 10px;
    border-radius: 10px;
    font-size: 12px;
}

.type{
    width: fit-content;
    padding: 4px 10px;
    border-radius: 10px;
    font-size: 12px;
    color:#b26dff;
    border:1px solid #b26dff;

}

.Coding{
    color:#00E5FF;
    border:1px solid #00E5FF;
    background: rgba(0,229,255,0.10);
    border-radius: 10px;
    padding: 4px 10px;
    font-size: 12px;

}
.Debugging{
    color:#FF5722;
    border:1px solid #FF5722;
    background: rgba(255,87,34,0.10);
    border-radius: 10px;
    padding: 4px 10px;
    font-size: 12px;
}

.header-right{
    display: grid;
    align-content: center;
    gap: 10px;
}
.expcont{
        display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ef7c30;
    border-radius: 10px;
    background: linear-gradient(135deg, #17173e, transparent);
    font-size: 16px;
    font-weight: 700;
    gap: 10px;
    padding: 10px;
}

.total-attempts-cont{
        display: flex;
    border: 1px solid rgba(100, 100, 100, 0.5);
    border-radius: 10px;
    padding: 15px;
    width: max-content;
    background: linear-gradient(135deg, #17173e, transparent);
}

.total-attempts-info{
    display: grid;
    justify-items: center;
}

.total-attempts{
    font-size: 20px;
    color: #b26dff;
    font-weight: 700;
}

.total-icon{
    border: 1px solid #b26dff;
    padding: 0px 15px;
    border-radius: 50%;
    margin: 5px;
    /* align-items: center; */
    align-content: center;
    color:#b26dff;
    box-shadow:
        0 0 12px rgba(178,109,255,0.5),
        inset 0 0 10px rgba(178,109,255,0.2);
}

.passed-icon{
    color: rgb(34, 197, 94);
    filter: drop-shadow(0 0 8px rgba(34, 197, 94, 0.5));
}

.passed-attempts{
    font-size: 20px;
    color: #22c55e;
    font-weight: 700;
}

.failed-icon{
    color: rgb(220, 38, 38);
    filter: drop-shadow(0 0 8px rgba(220, 38, 38, 0.5));
}

.failed-attempts{
    font-size: 20px;
    color: #dc2626;
    font-weight: 700;
}
.successRate-icon{
    color: rgb(96, 165, 250);
    filter: drop-shadow(0 0 8px rgba(96, 165, 250, 0.5));
}
.successRate{
    font-size: 20px;
    color: #60a5fa;
    font-weight: 700;
}

.details-container{
    flex: 1;
    border-radius: 10px;
    border: 1px solid rgba(115, 115, 115, 0.5);
    background: linear-gradient(57deg, #4242614a, transparent);
    display: grid;
    gap: 10px;
    height: 100%;
    min-height: 0;
    grid-template-columns: 0.6fr 1fr;
    padding:15px;
}
.activity-history-container
{
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 0;
    border-right: 1px solid rgba(85, 85, 85, 0.5);
}
.primary-btn{
    background: linear-gradient(135deg, #5823d6, transparent);
    color: white;
    border: 2px solid #5823d6;
    padding: 5px 10px;
    font-size: 15px;
    cursor: pointer;
    box-shadow: 0 0 15px rgba(69, 29, 163, 0.35);
    border-radius: 8px;
}
.noData{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.noData-icon{
    color:#8f5cff;
    filter:drop-shadow(0px 0px 10px rgba(178, 109, 255,0.5));
}

.attempts-container{
    padding: 10px;
    flex: 1;
    overflow-y: auto;
    min-height:0;
}

.attempts-container::-webkit-scrollbar {
    width: 10px;
}

.attempts-container::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.03);
    border-radius: 10px;
}

.attempts-container::-webkit-scrollbar-thumb {
    background: linear-gradient(
        180deg,
        rgba(139, 92, 246, 0.8),
        rgba(99, 102, 241, 0.8)
    );
    border-radius: 10px;
    border: 2px solid transparent;
    background-clip: padding-box;
}

.attempt-row {
    display: flex;
    gap: 16px;
    margin-bottom: 18px;
}

.timeline {
    width: 40px;
    position: relative;
    display: flex;
    justify-content: center;
}

.timeline-line {
    position: absolute;
    top: 40px;
    bottom: -20px;
    width: 2px;
    background: rgba(255,255,255,.2);
}

.✓ {
     width: 32px;
    height: 32px;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 16px;
    font-weight: 700;

    z-index: 1;
    color: #22c55e;
    border: 2px solid #22c55e;

    box-shadow:
        0 0 12px rgba(34,197,94,.6),
        0 0 24px rgba(34,197,94,.2);
}

.✕ {
     width: 32px;
    height: 32px;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 16px;
    font-weight: 700;

    z-index: 1;
    color: #ff4d6d;
    border: 2px solid #ff4d6d;

    box-shadow:
        0 0 12px rgba(255,77,109,.6),
        0 0 24px rgba(255,77,109,.2);
}

.attempt-card {
    flex: 1;
    padding: 10px;
    border-radius: 12px;
    background: linear-gradient(180deg, rgba(16, 25, 65, .95), rgba(8, 15, 45, .95));
    border: 1px solid rgba(255, 255, 255, .08);
    display: flex;
    cursor: pointer;
}

.attempt-card.selected {
    border: 1px solid #22c55e;

    box-shadow:
        0 0 15px rgba(34,197,94,.4),
        inset 0 0 10px rgba(34,197,94,.08);
}

.attempt-header {
    display: flex;
    /* justify-content: space-between; */
    /* align-items: center; */
    flex-direction: column;
    padding-right: 50px;
    border-right: 1px solid rgba(95, 95, 95, 0.5);
    margin-right: 20px;
}

.attempt-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.attempt-title {
    font-size: 16px;
    font-weight: 600;
    color: white;
}

.status-badge {
    padding: 4px 10px;
    border-radius: 6px;
    font-size: 12px;
    font-weight: 600;
}

.pass-badge {
    color: #22c55e;
    background: rgba(34,197,94,.1);
    border: 1px solid rgba(34,197,94,.4);
}

.fail-badge {
    color: #ff4d6d;
    background: rgba(255,77,109,.1);
    border: 1px solid rgba(255,77,109,.4);
}

.attempt-meta {
    display: flex;
    gap: 10px;
    margin-top: 8px;
    color: #94a3b8;
    font-size: 14px;
}

.stat {
    display: flex;
    flex-direction: column;
}

.label {
    color: #94a3b8;
    font-size: 13px;
}

.stat span:last-child {
    color: white;
    font-size: 18px;
    font-weight: 600;
}

.pass-text {
    color: #22c55e !important;
}

.fail-text {
    color: #ff4d6d !important;
}

.details-btn {
    background: transparent;
    border: 1px solid #7c3aed;
    color: #c084fc;
    border-radius: 8px;
    padding: 8px 14px;
    cursor: pointer;
}

.metadata{
    display: flex;
    /* grid-auto-flow: column; */
    /* justify-content: flex-end; */
    flex: 1;
    /* align-content: space-around; */
    align-items: flex-start;
}

.attempt-details-container{
    min-height: 0;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}
.options-menu{
        display: grid;
    grid-auto-flow: column;
    /* align-content: space-between; */
    gap: 30px;
}

.menu-item {
    color: #94a3b8;
    cursor: pointer;
    padding: 8px 12px;
    border-bottom: 2px solid transparent;
    transition: 0.3s ease;
}

.menu-item.selected {
    color: #a855f7;
    border-bottom-color: #a855f7;
    font-weight: 600;
}

.data-cont{
        flex: 1;
    min-height: 0;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(95, 95, 95, 0.5);
    border-radius: 10px;
    margin-top: 20px;
    padding: 10px;
    white-space: pre;
    background: linear-gradient(57deg, #4242614a, transparent);
    text-wrap: auto;

}

.actual-data::-webkit-scrollbar {
    width: 10px;
}

.actual-data::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.03);
    border-radius: 10px;
}

.actual-data::-webkit-scrollbar-thumb {
    background: linear-gradient(
        180deg,
        rgba(139, 92, 246, 0.8),
        rgba(99, 102, 241, 0.8)
    );
    border-radius: 10px;
    border: 2px solid transparent;
    background-clip: padding-box;
}

.actual-data::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(
        180deg,
        rgba(168, 85, 247, 1),
        rgba(129, 140, 248, 1)
    );
}

.actual-data::-webkit-scrollbar-corner {
    background: transparent;
}
.actual-data{
    flex: 1;
    min-height: 0;
    overflow-y: auto;
    font-size: 13px;
    display: grid;
    gap: 10px;
}
.scenario-cont
{
    display: grid;
    grid-template-columns: 0.7fr 0.3fr;
    margin-bottom: 10px;
    border: 1px solid rgb(95, 95, 95);
    border-radius: 10px;
    padding: 10px;
    background: linear-gradient(45deg, #161636, transparent);
}
.activity-details-container{
        display: flex;
    flex-direction: column;
    min-height: 0;
    min-width: 0;
}

.reviewPoints{
    background: linear-gradient(45deg, #20683f, transparent);
    display: grid;
    border: 1px solid rgb(108, 108, 108);
    border-radius: 10px;
    padding: 10px;
}

.reviewPointsBad{
    border: 1px solid rgb(108, 108, 108);
    border-radius: 10px;
    padding: 10px;
    background: linear-gradient(45deg, #86423d, transparent);
    display: grid;
}

.loading-dots {
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
}

.loading-dots span {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #8b5cf6;
    animation: pulse 1.4s infinite ease-in-out;
}

.loading-dots span:nth-child(2) {
    animation-delay: .2s;
}

.loading-dots span:nth-child(3) {
    animation-delay: .4s;
}

@keyframes pulse {
    0%, 80%, 100% {
        transform: scale(.6);
        opacity: .4;
    }

    40% {
        transform: scale(1);
        opacity: 1;
    }
}
