:host {
    display: block;
    font-family: 'Segoe UI', sans-serif;
    background: #070b16;
    color: white;
    min-height: 100vh;
}


.app-container {
    min-height: 100vh;
    background:
        radial-gradient(circle at top left, #1e3a8a, transparent 30%),
        radial-gradient(circle at bottom right, #0f172a, transparent 35%),
        linear-gradient(135deg, #020617, #0f172a, #1e293b);
}

/* TOPBAR */

.navbar {
    height: 55px;

    display: flex;
    align-items: center;

    padding: 0 15px;

    background: rgba(20, 20, 35, 0.45);
    backdrop-filter: blur(16px);

    border-bottom: 1px solid rgba(255,255,255,0.08);
}

.display-container{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 0.01fr 1fr;
    gap: 10px;
    padding:10px;
}

.search-box {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 380px;
    padding: 8px 16px;
    border-radius: 14px;
    background: rgba(15, 23, 42, 0.85);
    border: 1px solid rgba(139, 92, 246, 0.45);
    position: absolute;
    left: 40%;
}

.search-icon {
    width: 20px;
    height: 20px;
    color: #a78bfa;
}

.search-box input {
    flex: 1;
    background: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: 15px;
}

.search-box input::placeholder {
    color: #9ca3af;
}

.sidebar{
    border-radius: 15px;
    background-color: rgb(26 29 62 / 49%);
    border: 1px solid rgb(242 229 255 / 18%);
    padding: 10px;
    display: grid;
    align-content: space-between;
}

.sidebarItems{
    color: rgba(105, 105, 105, 1);
    padding: 10px 0px;
    cursor:pointer;
    width:200px;
}

.sidebarItems:hover{
    border:1px solid rgba(75,75,75,0.5);
    border-radius: 10px;
    transition: 0.3s ease;
}

.sideSelected{
    font-weight: 600;
    border:1px solid rgba(75,75,75,0.5);
    border-radius: 10px;
    background: linear-gradient(135deg, #7c3aed, #c084fc);
    color: white;
    cursor: no-drop;
}

.logo-section {
    display: flex;
    align-items: center;
    gap: 12px;
}

.logo-icon {
    width: 30px;
    height: 30px;

    border-radius: 12px;

    background: linear-gradient(135deg, #8f5cff, #b26bff);

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 14px;
    font-weight: bold;
}

.logo-text {
    font-size: 20px;
    font-weight: 600;
}

.nav-links {
    display: flex;
    gap: 40px;
}

.nav-links a {
    color: rgba(255,255,255,0.65);
    text-decoration: none;
    font-size: 16px;
    position: relative;
    cursor: pointer;
    transition: 0.3s;
}

.nav-links a:hover,
.active-link {
    color: white;
}

.active-link::after {
    content: '';
    position: absolute;
    bottom: -15px;
    left: 0;

    width: 100%;
    height: 3px;

    background: #a855f7;
    border-radius: 10px;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 18px;
}
.logout-btn,
.user-box {

    height: 40px;

    display: flex;
    align-items: center;

    padding: 0 14px;

    border-radius: 14px;
    cursor: pointer;
}
.user-box{
    background: rgba(255,255,255,0.06);
    border: 1px solid rgba(255,255,255,0.08);
}

.logout-btn{
    background: rgb(161 0 0 / 78%);
    border: 1px solid rgba(255, 255, 255, 0.08);
}

.main-container
{
    display: flex;
    flex-direction: column;
    gap:10px;

}

.hero{
    flex:1;
    border-radius: 15px ;
    background-color: rgb(26 29 62 / 49%);
    border: 1px solid rgb(242 229 255 / 18%);
}

.hero-left-container{
    display:flex;
    margin-left: 30px;

}
.hero-left{
    display:flex;
}
/*.avatar{
        width: 190px;
    height: 190px;
    border-radius: 50%;
    background: linear-gradient(135deg, #7c3aed, #c084fc);
    margin: 10px;
}*/

.avatar{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 190px;
    height: 190px;
    border-radius: 50%;
    background: linear-gradient(135deg, #7c3aed, #c084fc);
    color: #111827;
    border: 1px solid rgba(139,92,246,0.3);
    margin: 10px;
}
.user-data{
    padding: 25px 10px;
    display: grid;
    align-items: center;
    justify-items: start;
}

.user-level{
    border: 1px solid rgb(124, 58, 237);
    border-radius: 15px;
    padding:5px 25px;
    background-color: #905cff49;
    color: white;
    
}
.user-about{
    color: #9f9f9f;
    font-size: 15px;
    width:stretch;
    border: 0px;
    background: transparent;
    transition: all 0.25s ease;
    outline: none;
    flex:1;
    
}

.user-about:focus,
.user-about:focus-visible,
.user-about:active {
  outline: none;
  border-bottom: 1px solid #00e5ff;
}
.login-name
{
    color: white;
    font-size: 35px;
    font-weight:600;
    background: transparent;
    transition: all 0.25s ease;
    outline:none;
    border:0px;

}

.penciloverlay{
    background-color: #0206175b;
    position: absolute;
    
    color: white;
    cursor:pointer;
    text-align: center;
    border-radius: 50%;
    padding: 80px;
}

.red{
    color:rgb(200, 92, 73);
}
.white{
    color:rgb(146, 146, 146);
}

.editable{
    outline: none;
    border-bottom: 1px solid #00e5ff;
}


.user-join{
    color: rgb(109, 109, 109);
    font-size: 15px;
}

.hero-right{
        display: grid;
    right: 10px;
    position: absolute;
    padding: 35px;
    gap: 10px;

}
.edit-btn{

    position: relative;
    overflow: hidden;

    color: rgb(173 166 255);

    padding: 10px 15px;

    border-radius: 12px;

    border: 1px solid rgb(104, 50, 197);

    background: transparent;

    cursor: pointer;

    transition:
        color 0.35s ease,
        transform 0.25s ease;

    z-index: 1;
}

.edit-btn::before{

    content: '';

    position: absolute;

    top: 0;
    left: 0;

    width: 0%;
    height: 100%;

    background: rgb(104, 50, 197);

    transition: width 0.35s ease;

    z-index: -1;
}

.edit-btn:hover::before{

    width: 100%;
}

.edit-btn:hover{

    color: white;

    transform: translateY(-2px);
}

.exp-container{
    padding: 15px;
    display: flex;
    border-radius: 12px;
    gap: 10px;
    background-color: rgb(156 117 255 / 13%);
}
.bolt-wrapper{
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lightning-icon{
    color:rgb(34, 197, 94);
}

.exp-label{
    font-size: 15px;
    color:#9f9f9f;
}
.exp-value{
    font-size: 25px;
    font-weight: 600;
    color:rgb(104, 50, 197);
}

.problem-details{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap :10px;
}
.detail-container{
    border-radius: 15px ;
    background-color: rgb(26 29 62 / 49%);
    border: 1px solid rgb(242 229 255 / 18%);
    display: grid;
    padding: 10px;
    justify-content: center;
    justify-items:center;
}

.label-container{
    display:flex;
    align-items: center;
    gap:10px;
}


.label{
    display:grid;
}
.detail-label
{
    font-size: 15px;
    color:#9f9f9f;
}
.detail-value
{
    font-size: 25px;
}
.solved
{
    color:rgb(36, 255, 98);
}

.submissions{
    color:#7c3aed;
}

.accepted
{
    color:rgb(81, 174, 251);
}

.easy,.submit{
    color:rgb(36, 255, 98);
    font-size: 15px;
}
.medium,.test{
    color:rgb(235, 179, 65);
    font-size: 15px;
}
.hard{
    color:rgb(235, 65, 65);
    font-size: 15px;
}

.div-values{
    display:flex;
    gap :25px;
    padding-top: 10px;
}

.xp-progress-section {
    width: 100%;
}

.xp-progress-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    font-size: 14px;
}

.xp-progress-header strong {
    color: #39ff88;
    font-size: 18px;
}

.next-level-name {
    margin-top: 4px;
    font-size: 12px;
    color: #a7f3d0;
}

.xp-progress-bar {
    width: 100%;
    height: 8px;
    margin-top: 10px;
    border-radius: 999px;
    background: rgba(255, 255, 255, 0.12);
    overflow: hidden;
}

.xp-progress-fill {
    height: 100%;
    border-radius: 999px;
    background: linear-gradient(90deg, #22c55e, #39ff88);
    box-shadow: 0 0 12px rgba(57, 255, 136, 0.6);
    transition: width 0.4s ease;
}

.xp-progress-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 6px;
    font-size: 11px;
    color: #9ca3af;
}

.streak-cont-xp{
    border-radius: 15px;
    display: grid;
    flex: 1;
    align-items: center;
}
.achievements{
    display:grid;;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap:10px;
    margin-top:10px;
}
.recent-problems{
    border-radius: 15px ;
    background-color: rgb(26 29 62 / 49%);;
    border: 1px solid rgb(242 229 255 / 18%);
    padding: 10px;

}
.achievement-card{
    display: flex;
    gap: 10px;
    border: 1px solid rgba(75, 75, 75, 0.5);
    border-radius: 10px;
    padding: 5px;
    background-color: rgb(26 29 62 / 49%);
}


.iconClass{
    height:120px;
    width:120px;
}
.recent-title{
    display: flex;
    padding: 10px 0px;
    border-bottom: 1px solid rgba(196, 196, 196, 0.14);
    justify-content: space-between;
}
.recent-title-label{
    font-size: 15px;
    color:white;
    font-weight: 700;
}
.activity-link
{
    color:rgb(173 166 255);
    font-size: 17px;
    cursor: pointer;
    transition: 0.3s ease;
}
.activity-link:hover
{
    color:white;
    font-weight: 600;
}
.recent-problem-details-container{
    margin-top: 10px;
}
.recent-problem-cont{
    display:flex;
    border-bottom: 1px solid rgba(196, 196, 196, 0.14);
    cursor:pointer
}

.recent-problem-cont:hover {
    background: rgba(130, 85, 255, 0.05);
}
.recent-problem-details{
    padding: 10px 0px;
}
.capsules{
    display:flex;
    gap:10px;
    padding:5px 0px;
}
.Pending{
    border: 1px solid rgb(235, 179, 65);
    border-radius: 12px;
    background-color: rgba(239, 200, 82, 0.12);
    font-size: 15px;
    padding:5px 15px;
    color:rgb(235, 179, 65);
}
.Pass{
    border: 1px solid rgb(36, 255, 98);
    border-radius: 12px;
    background-color: rgb(36, 255, 98,0.12);
    font-size: 15px;
    padding:5px 15px;
    color:rgb(36, 255, 98);
}
.Fail
{
    border: 1px solid rgb(235, 65, 65);
    border-radius: 12px;
    background-color: rgb(235, 65, 65,0.12);
    font-size: 15px;
    padding:5px 15px;
    color: rgb(235, 65, 65);
}
.path-details{
    border: 1px solid #7c3aed;
    border-radius: 12px;
    background-color: rgb(124, 58, 237,0.15);
    font-size: 15px;
    padding:5px 15px;
    color:#7c3aed;
}

.activity-time{
    right: 20px;
    position: absolute;
    padding-top: 20px;
    font-size: 15px;
    color:#9f9f9f;
}

.main-container-List{
    border-radius: 15px;
    border: 1px solid #9f9f9fa4;
    height: 90vh;
    background-color: rgb(26 29 62 / 49%);
    padding: 20px;
}
.back-btn{
    color: rgb(173 166 255);
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s ease;
}
.back-btn:hover{
    color: white;
    font-weight:600;
}

.Header-cont{
    display:flex;
    gap:15px;
    margin-top: 10px;
}

.icon-wrapper{
    width:60px;
    height:60px;
    border-radius:50%;

    display:flex;
    align-items:center;
    justify-content:center;

    background: rgba(139,92,246,0.12);

    box-shadow:
        0 0 22px rgba(139,92,246,0.18),
        inset 0 0 20px rgba(139,92,246,0.08);
    border: 1px solid rgba(139,92,246);
}

.submission-icon{
    color:#a855f7;
}

.challenge-icon-wrapper{
    width:72px;
    height:72px;

    border-radius:22px;

    display:flex;
    align-items:center;
    justify-content:center;

    background: rgba(59,130,246,0.10);

    border:1px solid rgba(59,130,246);

    box-shadow:
        0 0 22px rgba(59,130,246,0.16),
        inset 0 0 20px rgba(59,130,246,0.05);
}

.challenge-icon{
    color:#60a5fa;
}

.header{
    font-size: 35px;
    font-weight: 600;
}
.subm-solv-class{
    display: flex;
    position:absolute;
    right:35px;
    gap:10px;
    margin-top:-10px;
}
.icon-box{
    width:80px;
    height:80px;
    border-radius:50%;

    display:flex;
    align-items:center;
    justify-content:center;

    background: rgba(85, 185, 247,0.12);
    border:1px solid rgba(85, 185, 247,0.35);
    box-shadow:
        0 0 20px rgba(85, 185, 247,0.18),
        inset 0 0 20px rgba(85, 185, 247,0.08);
}

.trophy-icon{
    color:rgb(85, 185, 247);
}

.tick-circle{
    width:60px;
    height:60px;
    border-radius:50%;

    display:flex;
    align-items:center;
    justify-content:center;

    background: rgba(34,197,94,0.08);

    border:1px solid rgba(34,197,94,0.35);

    box-shadow:
        0 0 18px rgba(34,197,94,0.18),
        inset 0 0 18px rgba(34,197,94,0.06);
}

.tick-icon{
    color:#22c55e;
}
.utilities-container{
    display: grid;
    grid-template-columns: 1fr 0.5fr 0.5fr 0.5fr 0.5fr;
    gap: 10px;
    margin-top: 30px;
}

.search-input{
    padding: 10px 15px;
    border-radius: 12px;
    border: 1px solid #9f9f9fa4;
    background-color: rgb(26 29 62 / 49%);
    color: white;
    transition: 0.3s ease;
}

.subm-solv-container{
    display: flex;
    padding: 10px 10px;
    align-items: center;
    border: 1px solid #5d5d5da1;
    border-radius: 10px;
    justify-items: center;
    gap: 10px;

}
.category-dropdown{
    background: rgba(17, 24, 39, 0.0);
    color: #a8a8a8;
    border: 1px solid #9f9f9fa4;
    border-radius: 12px;
    padding: 0px 16px;
    font-size: 12px;
    outline: none;
    cursor: pointer;
    transition: 0.3s ease;
    height: 45px;
}
.sort{
    width:stretch;
}
.sort-div{
    display: flex;
    padding: 0px 0px 0px 10px;
    gap: 10px;
    align-items: center;

}

.search-input:hover,
.category-dropdown:hover{
    border-color: #a855f7;
    box-shadow: 0 0 12px rgba(168,85,247,0.4);
}

/*table*/

.history-container {
    height: fit-content;
    display: grid;
    width: 100%;
    border-radius: 18px;
    overflow: hidden;

    background:
        radial-gradient(circle at top left, rgba(113, 65, 255, 0.18), transparent 30%),
        linear-gradient(180deg, #11172d 0%, #0b1020 100%);

    border: 1px solid rgba(131, 92, 255, 0.15);

    box-shadow:
        0 0 40px rgba(111, 0, 255, 0.12),
        inset 0 1px 0 rgba(255,255,255,0.04);

    color: white;
    font-family: 'Segoe UI', sans-serif;
    margin-top: 15px;
}


/* HEADER */

.table-header {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 0.8fr 1.7fr 1fr 1fr;

    padding: 18px 15px;

    font-size: 12px;
    letter-spacing: 1px;
    color: #8e97b8;

    border-bottom: 1px solid rgba(255,255,255,0.06);

    background: rgba(255,255,255,0.02);
}

/* ROW */

.table-row {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 0.8fr 1.7fr 1fr 1fr;
    align-items: center;
    padding: 5px 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    transition: all 0.25s ease;
}

.table-row:hover {
    background: rgba(130, 85, 255, 0.05);
}

/* CHALLENGE */

.challenge-section {
    display: flex;
    align-items: flex-start;
    gap: 14px;
}


.challenge-name {
    font-size: 15px;
    font-weight: 600;
    color: #ffffff;
    padding-right: 15px;
}

/* CATEGORY */

.category {
    display: flex;
    align-items: center;
    gap: 8px;

    color: #b26dff;
    font-size: 14px;
}

.category-icon {
    --slds-c-icon-color-foreground-default: #b26dff;
}

/* DIFFICULTY */

.default
{
    color:#263f47;
}

.Beginner{
    background: rgba(34,197,94,0.10);
    border:1px solid rgb(34, 197, 94);
    color:#22C55E;
    padding: 2px 5px;
    border-radius: 5px;
}
.Apprentice{
    background: rgba(59, 130, 246,0.10);
    border:1px solid rgb(59, 130, 246);
    color:#3B82F6;
    padding: 2px 5px;
    border-radius: 5px;
}
.Skilled{
    background: rgba(139, 92, 246,0.10);
    border:1px solid rgb(139, 92, 246);
    color:rgb(139, 92, 246);
    padding: 2px 5px;
    border-radius: 5px;
}
.Expert{
    background: rgba(249, 115, 22,0.10);
    border:1px solid rgb(249, 115, 22);
    color:rgb(249, 115, 22);
    padding: 2px 5px;
    border-radius: 5px;
}
.Legend{
    background: rgba(239, 68, 68,0.10);
    border:1px solid rgb(239, 68, 68);
    color:rgb(239, 68, 68);
    padding: 2px 5px;
    border-radius: 5px;
}

.Easy {
    color: #00ff88;
    border: 1px solid rgba(0,255,136,0.5);
    background: rgba(0,255,136,0.08);
    padding: 2px 5px;
    border-radius: 5px;
}

.Medium {
    color: #ffb020;
    border: 1px solid rgba(255,176,32,0.5);
    background: rgba(255,176,32,0.08);
    padding: 2px 5px;
    border-radius: 5px;
}

.Hard {
    color: #ff4d6d;
    border: 1px solid rgba(255,77,109,0.5);
    background: rgba(255,77,109,0.08);
    padding: 2px 5px;
    border-radius: 5px;
}

/* TEXT */

.points {
    color: #c77dff;
    font-weight: 600;
    font-size: 14px;
}

.date,
.time {
    color: #a4abc8;
    font-size: 13px;
    white-space: pre-line;
    line-height: 1.5;
}
.streak-achievement-cont{
    display: flex;
    gap: 10px;
    border-top: 1px solid rgba(75, 75, 75, 0.5);
    padding: 10px;
    margin: 0px 10px;
}

.straight-line {
    width: 1px;
    background: rgba(255, 255, 255, 0.15);
}
.streak-cont{
    border-radius: 15px;
    display: grid;
    justify-content: center;
    justify-items: center;
    flex: 1;
    align-items: center;

}

.streak-icon {
        display: block;
    border-radius: 50%;
    padding: 10px;
    border: 1px solid #ffa500;
    background: #ffa50029;
    width: 60px;
    height: 60px;
}
.crown-icon {
    display: block;
    border-radius: 50%;
    padding: 10px;
    border: 1px solid rgb(168, 85, 247);
    background: rgba(168, 85, 247, 0.12);;
    width: 60px;
    height: 60px;
}

.xp-next-icon {
    display: block;
    border-radius: 50%;
    padding: 10px;
    border: 1px solid rgb(34, 197, 94);
    background: rgba(34, 197, 94, 0.12);
    width: 60px;
    height: 60px;
}

/* BUTTON */

.btn-container {
    display: flex;
    justify-content: flex-end;
}

.details-btn {
    background: transparent;
    border: 1px solid rgba(157, 78, 221, 0.35);
    color: #b26dff;
    padding: 5px 10px;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.25s ease;
}

.details-btn:hover {
    background: rgba(157, 78, 221, 0.12);

    transform: translateY(-1px);

    box-shadow: 0 0 12px rgba(157, 78, 221, 0.2);
}
.Coding{
    color:#00E5FF;
}
.Debugging{
    color: #FF5C5C;
}

/* FOOTER */

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 18px 24px;

    background: rgba(255,255,255,0.02);
}

.results-text {
    font-size: 13px;
    color: #8f98bc;
}

/* PAGINATION */

.pagination {
    display: flex;
    align-items: center;
    gap: 8px;
}

.page-btn {
    width: 36px;
    height: 36px;

    border-radius: 10px;

    border: 1px solid rgba(255,255,255,0.08);

    background: rgba(255,255,255,0.03);

    color: #c4cbeb;

    cursor: pointer;

    transition: all 0.25s ease;
}

.page-btn:hover {
    border-color: #9d4edd;
    color: white;
}

.page-btn.active {
    background: linear-gradient(180deg, #7b2ff7, #5f0fff);

    color: white;

    border-color: transparent;

    box-shadow: 0 0 15px rgba(123,47,247,0.5);
}

.pass-icon{
    --slds-c-icon-color-foreground-default: #00ff88;
}

.fail-icon{
    --slds-c-icon-color-foreground-default: #ff4d6d;
}

.pending-icon{
    --slds-c-icon-color-foreground-default: #ffb020;
}



